.background-container {
    background-image: url('./bg2.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 50vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background-container1 {
    background-image: url('./bg1.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 50vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }